:root {
	--text-font: 'Noto Sans SC', system-ui, sans-serif;
	--serif-font: 'IBM Plex Serif', serif;
	--monospace-font: monospace;

	/* oklch(0.11 0.005 31) */
	--text-color: #060404;
	/* oklch(0.97 0.005 31) */
	--background-color: #f8f4f3;
	/* oklch(0.99 0 0) */
	--code-background-color: #fcfcfc;
	/* oklch(0.48 0.12 25) */
	--link-base-color: #963d3a;
	--link-visited-color: var(--link-base-color);
	/* oklch(0.3 0.12 25) */
	--link-hover-color: #5c0109;
	/* oklch(0.61 0.01 17.6) */
	--border-color: #898181;

	color-scheme: light;
	font-family: var(--text-font);
	font-size: 16px;
	color: var(--text-color);
	background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--serif-font);
	margin: 1em 0;
}

p {
	margin: 16px 0;
}

a:link {
	color: var(--link-base-color);
	text-decoration: none;
}

a:visited {
	color: var(--link-visited-color);
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

code {
	font-family: var(--monospace-font);
	font-size: 0.9em;
	font-weight: 400;
	background-color: var(--code-background-color);
	color: var(--text-color);
	padding: 0.05em 0.2em;
	border: 1px solid var(--border-color);
}

table {
	border-collapse: collapse;
	border: 2px solid var(--border-color);
}

th,
td {
	padding: 6px;
	border: 1px solid var(--border-color);
}
